*{
    box-sizing: border-box;
}
p{
    font-family: Arial, sans-serif;
    font-size: 20px;
}
h1, h2, h3, h4, h5{
    font-family: 'Bebas Neue', cursive;
}
.background{
    background-color: #eaaf46;
}
#main h1{
    font-size: 90px;
    letter-spacing: 5px;
    color: #eaaf46;
}
h2{
    letter-spacing: 1px;
}
#main p{
    font-size: 20px;
    font-weight: bold;
}
#main img, #section-3 img, #section-4 img{
    width: 1250px;
    max-width: 100%;
}
#section-2 img, #image-2{
    width: 540px;
    max-width: 100%;
}
#btn{
    padding: 7px 35px;
    text-transform: uppercase;
    font-size: 28px;
    border-radius: 8px;
    background-color: #eaaf46;
    color: black;
    font-family: 'Bebas Neue', cursive;
    border: none;
}
.social-icons i{
    padding: 0 6px;
    font-size: 35px;
    color: black;
}
.navbar a{
    color: black;
    font-size: 18px;
}
.navbar li{
    padding: 0 10px;
}

@media only screen and (max-width: 900px){
#main h1{
    font-size: 60px;
}
}